*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: rgb(32, 32, 32);
    letter-spacing: 1px;
    line-height: 40px;
}

header{
    height: 70px;
    background: lightgray;
    text-align: center;
    padding: 15px;
    position: fixed;
    top: 0px;
    width: 100%;
    box-shadow: 1px 9px 29px -1px rgba(0,0,0,0.4);
    line-height: 24px;
}
header h1{
    font-weight: bold;
    color: gold;
    font-size: 1.1em;
}
h2,h3 {
    margin-bottom: 12px;
}
nav ul li{
    display: inline-block;
    font-weight: bold;
    
    word-spacing: 20px;
}
nav ul li a{
    color: aliceblue;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.8em;
}
#banner{
    background: url(../img/denis-degioanni-9wH624ALFQA-unsplash.jpg) no-repeat center;
    background-size: cover;
    height: 300px;
}
main{
    background: lightcyan;
    display: flex;
    padding: 15px;
    min-height: 500px;
}
main section, main sidebar{
    min-height: 400px;
    padding: 10px;
}
main section{
    width: 60%;
    background: lightgoldenrodyellow;
}
main sidebar{
    width: 40%;
    background: lightgreen;
    display: block;
}
footer{
    height: 170px;
    background: rgb(156, 156, 156);
    text-align: center;
    padding: 15px;

}

#menu{
    position: absolute;
    color: blue;
    cursor: pointer;
}
#panel{
    position: fixed;
    width: 300px;
    height: 100vh;
    top: 0px;
    left: -300px;
    background: #b5b5b5;
    transition: all 0.5s ease-in;    
    padding: 20px;
}
#panel.slide-in{
    transform: translateX(300px);
}

#menu{
    display: none;
}
#close{
    width: 30px;
    position: relative;
    left: 255px;
    top: -19px;
}

#panel nav ul li {
    display: block;
    font-weight: bold;
    /* word-spacing: 20px; */
}
@media only screen and (max-width: 600px) {
    main{
        display: block;
    }
    main section{
        width: 100%;
    }
    main sidebar{
        width: 100%;
    }
    #menu{
        display: block;
    }
    header nav{
        display: none;
    }

}